<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Automation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eeefeb">  <td>18/07/20 16:17:07</td>   <td>0</td> <td title="&gt;&gt;TC_MainTest.init()[pri:0, instance:useCase_testsuite1.TC_MainTest@8b87145]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@124407148</td>   <td></td> </tr>
<tr bgcolor="eeefeb">  <td>18/07/20 16:17:27</td>   <td>20589</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_MainTest.test1()[pri:0, instance:useCase_testsuite1.TC_MainTest@8b87145]">test1</td> 
  <td>main@124407148</td>   <td></td> </tr>
<tr bgcolor="eeefeb">  <td>18/07/20 16:19:51</td>   <td>163721</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_MainTest.test2()[pri:0, instance:useCase_testsuite1.TC_MainTest@8b87145]">test2</td> 
  <td>main@124407148</td>   <td></td> </tr>
</table>
