<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>useCase_testsuite1.TC_1</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tc_checkOut</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc_accessLoc</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc_dataValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc_dbData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc_upcFlow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc_signIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc_dbRecord</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>startAppiumServer</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>stopAppiumServer</td>
<td>&nbsp;</td></tr>
</table>
