<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Dollar General Automation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90a6be">  <td>18/08/20 13:38:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_1.startAppiumServer()[pri:0, instance:useCase_testsuite1.TC_1@2473b9ce]">&gt;&gt;startAppiumServer</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@388357135</td>   <td></td> </tr>
<tr bgcolor="90a6be">  <td>18/08/20 13:41:22</td>   <td>166507</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_1.stopAppiumServer()[pri:0, instance:useCase_testsuite1.TC_1@2473b9ce]">&lt;&lt;stopAppiumServer</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@388357135</td>   <td></td> </tr>
<tr bgcolor="90a6be">  <td>18/08/20 13:39:26</td>   <td>51013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_1.tc_accessLoc()[pri:2, instance:useCase_testsuite1.TC_1@2473b9ce]">tc_accessLoc</td> 
  <td>main@388357135</td>   <td></td> </tr>
<tr bgcolor="90a6be">  <td>18/08/20 13:40:53</td>   <td>137288</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_1.tc_checkOut()[pri:4, instance:useCase_testsuite1.TC_1@2473b9ce]">tc_checkOut</td> 
  <td>main@388357135</td>   <td></td> </tr>
<tr bgcolor="90a6be">  <td>18/08/20 13:41:22</td>   <td>166507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_1.tc_dataValidation()[pri:6, instance:useCase_testsuite1.TC_1@2473b9ce]">tc_dataValidation</td> 
  <td>main@388357135</td>   <td></td> </tr>
<tr bgcolor="90a6be">  <td>18/08/20 13:41:22</td>   <td>166487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_1.tc_dbData()[pri:5, instance:useCase_testsuite1.TC_1@2473b9ce]">tc_dbData</td> 
  <td>main@388357135</td>   <td></td> </tr>
<tr bgcolor="90a6be">  <td>18/08/20 13:41:22</td>   <td>166507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_1.tc_dbRecord()[pri:7, instance:useCase_testsuite1.TC_1@2473b9ce]">tc_dbRecord</td> 
  <td>main@388357135</td>   <td></td> </tr>
<tr bgcolor="90a6be">  <td>18/08/20 13:38:55</td>   <td>19893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_1.tc_signIn()[pri:1, instance:useCase_testsuite1.TC_1@2473b9ce]">tc_signIn</td> 
  <td>main@388357135</td>   <td></td> </tr>
<tr bgcolor="90a6be">  <td>18/08/20 13:40:08</td>   <td>92753</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_1.tc_upcFlow()[pri:3, instance:useCase_testsuite1.TC_1@2473b9ce]">tc_upcFlow</td> 
  <td>main@388357135</td>   <td></td> </tr>
</table>
