<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a7282">  <td>21/05/31 11:21:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ActivationwithPin_iOS.TC_ActivationwithPin()[pri:1, instance:SimpleMobile_FunctionalTestcases.ActivationwithPin_iOS@42a15bdc]">TC_ActivationwithPin</td> 
  <td>main@1201466784</td>   <td></td> </tr>
<tr bgcolor="8a7282">  <td>21/05/31 11:20:37</td>   <td>-63920</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ActivationwithPin_iOS.startAppiumServer()[pri:0, instance:SimpleMobile_FunctionalTestcases.ActivationwithPin_iOS@42a15bdc]">&gt;&gt;startAppiumServer</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1201466784</td>   <td></td> </tr>
<tr bgcolor="8a7282">  <td>21/05/31 11:22:28</td>   <td>47366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ActivationwithPin_iOS.stopAppiumServer(org.testng.ITestResult)[pri:0, instance:SimpleMobile_FunctionalTestcases.ActivationwithPin_iOS@42a15bdc]">&lt;&lt;stopAppiumServer</td> 
<td>&nbsp;</td>  <td>main@1201466784</td>   <td></td> </tr>
</table>
