<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dc9775">  <td>20/10/28 14:34:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SmokeTest_Android.Android_SmokeTestCase()[pri:0, instance:smokeTest.SmokeTest_Android@5e82df6a]">Android_SmokeTestCase</td> 
  <td>TestNG-tests-1@77183815</td>   <td></td> </tr>
<tr bgcolor="dc9775">  <td>20/10/28 14:36:15</td>   <td>117019</td> <td>&nbsp;</td><td title="&lt;&lt;SmokeTest_Android.endReport()[pri:0, instance:smokeTest.SmokeTest_Android@5e82df6a]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@77183815</td>   <td></td> </tr>
<tr bgcolor="83bca6">  <td>20/10/28 14:34:28</td>   <td>10648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SmokeTest_iOS.iOS_SmokeTestCase()[pri:0, instance:smokeTest.SmokeTest_iOS@6973b51b]">iOS_SmokeTestCase</td> 
  <td>TestNG-tests-2@279473694</td>   <td></td> </tr>
<tr bgcolor="dc9775">  <td>20/10/28 14:34:04</td>   <td>-13791</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SmokeTest_Android.startAppiumServer()[pri:0, instance:smokeTest.SmokeTest_Android@5e82df6a]">&gt;&gt;startAppiumServer</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@77183815</td>   <td></td> </tr>
<tr bgcolor="83bca6">  <td>20/10/28 14:34:04</td>   <td>-13803</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SmokeTest_iOS.startAppiumServer()[pri:0, instance:smokeTest.SmokeTest_iOS@6973b51b]">&gt;&gt;startAppiumServer</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@279473694</td>   <td></td> </tr>
<tr bgcolor="83bca6">  <td>20/10/28 14:36:11</td>   <td>113688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SmokeTest_iOS.stopAppiumServer(org.testng.ITestResult)[pri:0, instance:smokeTest.SmokeTest_iOS@6973b51b]">&lt;&lt;stopAppiumServer</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@279473694</td>   <td></td> </tr>
</table>
