<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>iOSSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8f809f">  <td>19/03/25 11:09:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Eribank_iOS.Testcase_iOS()[pri:0, instance:eribank_iOS.Eribank_iOS@5ab9e72c]">Testcase_iOS</td> 
  <td>TestNG-suites-1@2064162395</td>   <td></td> </tr>
<tr bgcolor="8f809f">  <td>19/03/25 11:09:36</td>   <td>-5817</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Eribank_iOS.startAppiumServer()[pri:0, instance:eribank_iOS.Eribank_iOS@5ab9e72c]">&gt;&gt;startAppiumServer</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-suites-1@2064162395</td>   <td></td> </tr>
<tr bgcolor="8f809f">  <td>19/03/25 11:09:57</td>   <td>15044</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Eribank_iOS.stopAppiumServer()[pri:0, instance:eribank_iOS.Eribank_iOS@5ab9e72c]">&lt;&lt;stopAppiumServer</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-suites-1@2064162395</td>   <td></td> </tr>
</table>
