<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Axalta Automation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e9c9bd">  <td>19/04/08 17:23:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;amazon_S8.startAppiumServer()[pri:0, instance:amazon_OFTA_Demo.amazon_S8@4a003cbe]">&gt;&gt;startAppiumServer</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2142852357</td>   <td></td> </tr>
<tr bgcolor="e9c9bd">  <td>19/04/08 17:24:10</td>   <td>23894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="amazon_S8.Testcase_Android()[pri:0, instance:amazon_OFTA_Demo.amazon_S8@4a003cbe]">Testcase_Android</td> 
  <td>main@2142852357</td>   <td></td> </tr>
</table>
